@model HomeViewModel
@{
    const string TodayName = "Today";
    ViewData["Title"] = "Home Page";
    string currDayName = Model.CurrentDate.Equals(DateTime.Today) ? TodayName : "at " + Model.CurrentDate.ToShortDateString();
}

@* Daily Progress + Precentage & Coloring *@
<div class="m-5">
    @{
        int todayPrecentage = (int)(((double)Model.UserDailyProgress) / Model.UserDailyTarget * 100);
        string progressBg = "danger";
        if (todayPrecentage > 45) progressBg = "warning";
        if (todayPrecentage > 80) progressBg = "success";
    }
    <h4>
        Today's progress: @Model.UserDailyProgress/@Model.UserDailyTarget
        @* Edit (pencil) button *@
        <a asp-action="Profile" asp-controller="Account" asp-area="" asp-route-returnHome="True" class="" title="Edit your daily target">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
        </a>
    </h4>
    <div class="progress" style="height: 30px; font-size: 125%">
        <div class="progress-bar bg-@progressBg" style="width: @todayPrecentage%;" role="progressbar" aria-valuenow="@todayPrecentage" aria-valuemin="0" aria-valuemax="100">@todayPrecentage%</div>
    </div>
</div>

@* Add log form *@
<div class="row">
    <div class="col-3 col-md-2 text-right justify-content-right align-self-right" style="font-size: 125%">
        Add Log:
    </div>
    <div class="col-9 col-md-7">
        <form id="logform" asp-action="Add" asp-controller="Home" asp-area="" method="post">
            <div class="form-row">
                <div class="form-group col-sm-5 col-10">
                    <select asp-items="@Html.GetEnumSelectList<EnsureTaste>()" required autofocus
                            class="custom-select" id="logform-taste" name="taste">
                        <option selected disabled value="">Choose a taste</option>
                    </select>
                </div>
                <div class="form-group col-2 col-sm-3">
                    <button class="btn btn-success">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 col">
        <input type="date" class="form-control" value="@Model.CurrentDate.ToString(EnsureConstants.DateTimeUrlFormat)" id="datepicker" onchange="changedHandler(event);" />
    </div>
</div>

@* Logs List *@
@if (Model.Logs.Count > 0)
{
    <table class="table text-center" style="font-size: 135%;">
        <thead>
        </thead>
        <tbody>
            @foreach (var log in Model.Logs)
            {
                <tr>
                    <td>
                        @log.Logged.ToShortTimeString()
                    </td>
                    <td class="">
                        <img src="~/images/ensure_taste_@(log.EnsureTaste.ToString()).png" height="50" />
                        @log.EnsureTaste.ToString()
                    </td>
                    <td>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-logid="@log.Id" data-date="@log.Logged.ToString()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-muted text-center m-3">Nothing logged @currDayName</h4>
}

@* Delete Modal *@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you'd like to delete the log from <span id="delete-modal-date"></span></h5>
            </div>
            <div class="modal-footer">
                <form id="delete-modal-form" method="post">
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
@* END Delete Modal *@

@section Scripts {
    <script>
    // On change of date text box value, get new logs
		const currDate = "@Model.CurrentDate.ToString(EnsureConstants.DateTimeUrlFormat)";
		const datepicker = document.querySelector("#datepicker");
		function changedHandler (e) {
			if (currDate !== datepicker.value) {
				window.location.href = "@Url.Action("Logs", "Home", new { date = "" })" + "/" + datepicker.value;
			}
	}

	// delete-modal-date, delete-modal-form - show delete modal
	$('#deleteModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget);
		var logid = button.data('logid');
		var date = button.data('date');

		var modal = $(this);
		modal.find('#delete-modal-date').text(date);
		modal.find('#delete-modal-form').attr("action", "/Delete/"+ logid);
	});

    </script>
}